<dir>
    <h1>Info</h1>
    <p> argumento de entrada:  {{argumentoDeEntrada}} </p>
    <p> path de ejecucion: {{pathDeEjecucion}} </p>
    <p> nombre plataforma:  {{nombreDePlataforma}} </p>
    <p> version node:  {{versionDeNode}} </p>
    <p>  process ID: {{processId}} </p>
    <p> RSS:  {{rss}} </p>
    <p> carpeta del proyecto: {{carpetaDelProyecto}} </p>
</dir>