<dir>
    <h1>Info 📌</h1>
    <p> argumento de entrada:  {{argumentosDeEntrada}} </p>
    <p> path de ejecucion: {{pathDeEjecucion}} </p>
    <p> nombre plataforma:  {{nombreDePlataforma}} </p>
    <p> version node:  {{versionDeNode}} </p>
    <p>  process ID: {{processId}} </p>
    <p> RSS:  {{rss}} </p>
    <p> carpeta del proyecto: {{carpetaDelProyecto}} </p>
</dir>

<button class="btn btn-success" onclick="location.href='/index'"> 🍉 volver a index </button>

<style>
    body{
        background-color: black;
        color:white
    }

    button{
        margin-left: 40px;
    }

</style>